<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>ElectroGrid</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
    
  <servlet>
 <servlet-name>Jersey Web Application</servlet-name>
 <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
 <load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
 <servlet-name>Jersey Web Application</servlet-name>
 <url-pattern>/CustomerService/*</url-pattern>
</servlet-mapping>

<servlet>
 <servlet-name>Jersey Web Application Payment</servlet-name>
 <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
 <load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
 <servlet-name>Jersey Web Application Payment</servlet-name>
 <url-pattern>/PaymentService/*</url-pattern>
</servlet-mapping>

<servlet>
 <servlet-name>Jersey Web Application Feedback</servlet-name>
 <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
 <load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
 <servlet-name>Jersey Web Application Feedback</servlet-name>
 <url-pattern>/FeedbackService/*</url-pattern>
</servlet-mapping>

<servlet>
 <servlet-name>Jersey Web Application Powerstation</servlet-name>
 <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
 <load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
 <servlet-name>Jersey Web Application Powerstation</servlet-name>
 <url-pattern>/PowerstationService/*</url-pattern>
</servlet-mapping>

<servlet>
 <servlet-name>Jersey Web Application Bill</servlet-name>
 <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
 <load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
 <servlet-name>Jersey Web Application Bill</servlet-name>
 <url-pattern>/BillService/*</url-pattern>
</servlet-mapping>

<servlet>
 <servlet-name>Jersey Web Application Electricity board</servlet-name>
 <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
 <load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
 <servlet-name>Jersey Web Application Electricity board</servlet-name>
 <url-pattern>/ElectricityboardService/*</url-pattern>
</servlet-mapping>

<servlet>
 <servlet-name>Jersey Web Application Employee</servlet-name>
 <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
 <load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
 <servlet-name>Jersey Web Application Employee</servlet-name>
 <url-pattern>/EmployeeService/*</url-pattern>
</servlet-mapping>

<servlet>
 <servlet-name>Jersey Web Application Power Consumption</servlet-name>
 <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
 <load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
 <servlet-name>Jersey Web Application Power Consumption</servlet-name>
 <url-pattern>/PowerconsumptionService/*</url-pattern>
</servlet-mapping>

</web-app>